.node {
  width: 30px;
  height: 30px;
  border: 1px solid;
  display: inline-block;
}

.node-start {
  background-color: red;
}

.node-end {
  background-color: green;
}

.node-visited {
  background-color: blue;
}

.node-wall {
  background-color: aquamarine;
}
